.VOC {
  margin-top: 15px;
  max-width:500px;
  text-align:left;
  }

.VOC .section {  
  margin-bottom: 5px;
  font-size: 16px;
  width: 100%;
}

.VOC .item {
  margin-bottom:5px;
  padding:0;
  line-height:100%;}

.VOC .iconfy {
  line-height:100%;
}


.VOC .section.info .name {
  font-size: 18px;
}

.VOC .graphic {
  width: 100%;
}

.VOC .section.status .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size:16px;
  max-width:100%;
  color: #eee;
}

.VOC .section.status .bar {
  order: 1;
  width: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  background-color: #c8c9cb40;
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 10px;
}

.VOC .section.status .guage {
  background-color: #d5cece52;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.VOC .section.status .amount {
  text-align: right;
  line-height: 12px;
  padding-right:8px;
  color: white;
}

.VOC .section.status .level {
  padding-right: 5px;
  background: linear-gradient(to left, #6f7580, #b0b4bc91);
  box-shadow: 0 3px 3px -5px #000, 0 2px 5px #3a3a3a;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;    
  text-align: center;
}

.VOC .section.status .range {
  order: 2;
  width: 50%;
  text-align: left;
}

.VOC .section.status .consumption {
  order: 3;
  width: 50%;
  text-align: right;
}

.VOC .section.status .odometer {
  order: 4;
  width: 50%;
  text-align: left;
}

.VOC .section.status .avgSpeed {
  order: 5;
  width: 50%;
  text-align: right;
}

.VOC .section.notice {
  text-align:left;
  line-height:100%;
}

.VOC .section.notice .mark {
  display: inline-block;
  padding:2px 5px;
  margin:2px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #677281;
  color:#FFF;
  font-weight:bold;
}

.VOC .section.notice .mark.off,
.VOC .section.notice .mark.closed,
.VOC .section.notice .mark.ok {
  background-color:#666;
  color:#000;
}

.VOC .section.trip .content:before {
  content: "Last Trip:";
  line-height:100%;
}

.VOC .section.trip .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width:100%;
  font-size: 14px;
  color: #d5d5d5;
  padding:5px;
  border-top: 1px dotted dimgrey;
  margin-top: 13px;
}

.VOC .section.trip .departure {
  order: 1;
  width: 49%;
  text-align: left;
}

.VOC .section.trip .arrival {
  order: 2;
  width: 45%;
  text-align: right;
  /*border-left: 0.5px dotted dimgrey;*/
}

.VOC .section.trip .street {  
  font-size: 16px;
}

.VOC .section.trip .city,
.VOC .section.trip .time {
  padding-left: 20px;
}

.VOC .section.postion {
  /* display: none;*/
}
